
<% include partials/header.ejs%>

<h1>This Add new campground page</h1> 

<form action="/campgrounds" method="POST">
    <input type="text" name="newCampName" placeholder="name camp"></input>
    <input type="text" name="newCampImage" placeholder="link"></input>
    <input type="text" name="newCampDescription" placeholder="decription"></input>
    <button>Add</button>
</form>

<% include partials/footer.ejs%>